<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bee's</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="/header.jpg" width=100%>
            </div>
        </div>
    </div>
    <div class="container" >
        <div class="row">
            <div class="col-lg-8 col-centered rounded" style="background-color: white;">
                <h1 class="title"><b>Welcome to The Bee's</b></h1><br>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title">Items Management Page</h6>
                                <p class="card-text">Manages all the menus</p>
                                <a href="/foods" class="btn btn-primary btn-in-card">Open</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title">Categories Management Page</h6>
                                <p class="card-text">Manages all the categories</p>
                                <a href="/categories" class="btn btn-primary btn-in-card">Open</a>
                            </div>
                        </div>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg-2 col-centered rounded" style="height:25px;">
                        <p id="footer">The Bee's</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>